<div class="page-header">
  <h3><%= @mycellarwine.wine_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt></dt>
      <dd><img src = "<%= @mycellarwine.image_id %>"></dd>

      <dt>Wine Name</dt>
      <dd><%= @mycellarwine.wine_name %></dd>

      <dt>Year</dt>
      <dd><%= @mycellarwine.year %></dd>

      <dt>Price</dt>
      <dd>$<%= @mycellarwine.price %></dd>

      <dt>Varietal</dt>
      <dd><%= @mycellarwine.varietal.varietal_name%></dd>

      <dt>Winery</dt>
      <dd><%= @mycellarwine.winery %></dd>

      <dt>Bucket list wine</dt>
      <dd><% if @mycellarwine.bucket_list_wine == true %></td>
      <td>Yes
      <%else%>
      <td>No</td>
      <%end%></dd>


      <dt>Review</dt>
      <dd>  <% if @mycellarwine.reviews.count >0 %>
        <td><%= @mycellarwine.reviews.first.review_full_text %></td>
        <% else %>
        <td></td>
        <%end%>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/mycellarwines" class="btn btn-primary">
        Back
      </a>
      <a href="/mycellarwines/<%= @mycellarwine.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_mycellarwine/<%= @mycellarwine.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
